<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style_adminControlUser.css}">
    <meta charset="UTF-8">
    <title>Admin(User)</title>
</head>
<body class="body_controlUser--background">
<div class="container">
    <div>
        <a th:href="@{/adminShowMenu}"  class="sign">
            <img th:src="@{images/backSign.png}">
        </a><!-- volver al admin -->
    </div>
     <tr th:each="users:${user}">
         <p class="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User: <span th:text="${users.name}"></span>
                                <img th:src="@{images/avatarToken.png}" class="rigth"></h5>
                            <p class="card-text">Password: <span th:text="${users.type}"></span> </p>
                            <p class="card-text">Password: <span th:text="${users.skin}"></span> </p>
                            <p class="card-text">Password: <span th:text="${users.typeHair}"></span> </p>
                            <p class="card-text">Password: <span th:text="${users.typeTop}"></span> </p>
                            <p class="card-text">Password: <span th:text="${users.typeButton}"></span> </p>
                            <p class="card-text">Password: <span th:text="${users.typeShoe}"></span> </p>
                            <p>Score: aqui va un score xdd</p>
                            <p>info adicional: aqui va info adicional xd</p>
                            <a href="#" class="btn btn-danger" th:href="@{/deleteUser/{name}(name=${users.name})}">Delete</a>
                            <a href="" class="btn btn-secondary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
         </p>
     </tr>
</div>
</body>
</html>