<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style_adminMenu.css}">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body class="body_menu--background">
    <div>
        <audio th:src="@{sounds/adminoficeMusic.mp3}" autoplay loop></audio>
    </div>
    <a th:href="@{/}"  class="sign">
        <img th:src="@{images/exitCartelSign.png}">
    </a>
<!-- Se supone que asi podriamos elegir que entidades vera el administrador -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <a th:href="@{/adminChattelShow}">
            <img th:src="@{images/usersControlText.png}" class="admin_menu--usersButton">
        </a>
        <a th:href="@{/createAdmin}">
            <img th:src="@{images/avatarsControlText.png}" class="admin_menu--avatarsButton">
        </a>
    </div>
</body>
</html>