<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style_characterDesign.css}">
    <title>Avatar Creation</title>
</head>

<body th:action="@{/StartTimer}">
<div class="container">
    <div>
        <audio th:src="@{sounds/avatarCreation.mp3}" autoplay loop></audio>
    </div>
    <form class="form" th:action="@{/saveUser}" method="post" enctype="multipart/form-data">

        <div class="option__img" id="avatar">
            <img class="avatar" th:src="@{images/avatarSelections/avatars/type1.png}" >
        </div>


        <div class="option__input">

            <div class="sign">
                <a class="sign" >
                    <img th:src="@{images/femaleSign.png}" onclick="joke()">
                </a>
            </div>

            <div class="option__input--option">
                <div class="input">
                    <input type="radio" class="input1 typeDesign" id="type1" th:src="@{images/avatarSelections/icons/type1.png}" name="type" value="PorDefecto" onclick="captureSelection('type1');" required>
                    <input type="radio" class="input2 typeDesign" id="type2" th:src="@{images/avatarSelections/icons/type2.png}" name="type" value="Snob" onclick="captureSelection('type2');" required>
                    <input type="radio" class="input3 typeDesign" id="type3" th:src="@{images/avatarSelections/icons/type3.png}" name="type" value="Rubio" onclick="captureSelection('type3');" required>
                    <input type="radio" class="input4 typeDesign" id="type4" th:src="@{images/avatarSelections/icons/type4.png}" name="type" value="Carbon" onclick="captureSelection('type4');" required>
                    <input type="radio" class="input5 typeDesign" id="type5" th:src="@{images/avatarSelections/icons/type5.png}" name="type" value="Simbolo" onclick="captureSelection('type5');" required>
                    <input type="radio" class="input6 typeDesign" id="type6" th:src="@{images/avatarSelections/icons/type6.png}" name="type" value="Informatico" onclick="captureSelection('type6');" required>
                </div>


                <div class="name">
                    <input type="text" class="input7 type" id="name" name="name" placeholder="Name" autocomplete="off" required>
                </div>
            </div>

            <div class="character__submit">
                <button type="submit" onclick="saveSelection()" th:action="@{/StopTimer}"> <!-- Este guarda la ruta de la imagen que se debe guardar en base de datos para poderla usar -->
                    <img th:src="@{images/saveUserButton.png}" class="character__submit--buttom">
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<!--funcion script que captura seleccion de input desde un formulario html -->
<script th:inline="javascript">
    var imageSelection;
    function captureSelection(valor) {
        imageSelection = document.querySelector('.avatar').src = "/images/avatarSelections/avatars/" + valor + ".png";
        console.log(imageSelection);
        var selection = document.getElementById(valor).value;
        if (selection == null){
            alert("Debe seleccionar un avatar para continuar");
        }else{
            console.log("Avatar seleccionado: " + selection);
        }
    }
    /*guardar seleccion en una variable y retornarla como ruta*/
    function saveSelection() {
        var seleccion = imageSelection;
        return seleccion;
    }
    function joke(){
    }
</script>