<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style_characterDesign.css}">
    <title>Document</title>
</head>

<body>
<div class="container">
    <form class="form" th:action="@{/saveUser}" method="post" enctype="multipart/form-data">

        <div class="option__img">
            <img th:src="@{images/0.png}">
        </div>

        <div class="option__input">
            <div class="sex">

            </div>

            <div class="option__input--option">
                <div class="input">
                    <input type="radio" class="input1 type" id="type1" name="type" value="Generico">
                    <input type="radio" class="input2 type" id="type2" name="type" value="Chupapi">
                    <input type="radio" class="input3 type" id="type3" name="type" value="rubio">
                    <input type="radio" class="input4 type" id="type4" name="type" value="Carbon">
                    <input type="radio" class="input5 type" id="type5" name="type" value="Simbolo">
                    <input type="radio" class="input6 type" id="type6" name="type" value="Informatico">
                </div>

                <div class="name">
                    <input type="text" class="input7 type" id="type7" name="type" placeholder="                       Nombre de usuario" autocomplete="off">
                </div>
            </div>

            <div class="character__submit">
                <button class="character__submit--buttom" type="submit">
                    SAVE
                </button>
            </div>
        </div>

    </form>
</div>
</body>
</html>