<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
<header>
    <h1>Color</h1>
</header>

<div class="container-fluid content">

    <div class="content__optionBox ">
        <form class="content__optionBox--form" id="form2" method="post" action="" enctype="multipart/form-data">
            <h2>Pelo</h2>
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>

            <h2>Piel</h2>
            <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option7" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option8" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>

            <h2>Polera</h2>
            <input type="radio" class="btn-check" name="options" id="option9" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option10" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option11" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option12" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>

            <h2>Polera</h2>
            <input type="radio" class="btn-check" name="options" id="option13" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option14" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option15" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option16" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>

            <h2>Pantalon</h2>
            <input type="radio" class="btn-check" name="options" id="option17" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option18" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option19" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option20" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>

            <h2>Zapatilla</h2>
            <input type="radio" class="btn-check" name="options" id="option21" autocomplete="off" checked>
            <label class="btn btn-secondary" for="option1">Checked</label>

            <input type="radio" class="btn-check" name="options" id="option22" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Radio</label>

            <input type="radio" class="btn-check" name="options" id="option23" autocomplete="off" disabled>
            <label class="btn btn-secondary" for="option3">Disabled</label>

            <input type="radio" class="btn-check" name="options" id="option24" autocomplete="off">
            <label class="btn btn-secondary" for="option4">Radio</label>
            <button name="enviar" type="submit">Enviar Formulario</button>
        </form>
    </div>
    <div class="imgBox">
        a
    </div>

</div>


</body>

</html>