/*--||General||----------------------------------------------------------------------------------------------*/
* {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}

input[type="radio"] {
    appearance: none;
    border: black solid 1px;
}
#type1{
    background: url('../images/avatarSelections/icons/type1.png') no-repeat;
    background-size: 100% 100%;
}
#type2{
    background: url('../images/avatarSelections/icons/type2.png') no-repeat;
    background-size: 100% 100%;
}
#type3{
    background: url('../images/avatarSelections/icons/type3.png') no-repeat;
    background-size: 100% 100%;
}
#type4{
    background: url('../images/avatarSelections/icons/type4.png') no-repeat;
    background-size: 100% 100%;
}
#type5{
    background: url('../images/avatarSelections/icons/type5.png') no-repeat;
    background-size: 100% 100%;
}
#type6{
    background: url('../images/avatarSelections/icons/type6.png') no-repeat;
    background-size: 100% 100%;
}

input[type="radio"]:checked
{
    border-color: white;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 3px, 0 0 10px white;
}
/*-----------------------------------------------------------------------------------------------------------*/
.avatar{
    width: auto;
    height: auto;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/backgroundDesign.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: grid;
    grid-template-rows: 5fr 1.2fr;
    width: 100vw;
    height: 100vh;
}

.option__input{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    text-align: center;
}

.typeDesign{
    background-color: rgb(0, 0, 0);
    width: 8vw;
    height: 10vh;
}
/*
.option__input--option{
    display: flexbox;
}

 */

.option__img{
    margin-left: 32.2vw;
}

.sign
{
    background-color: transparent;
    margin-left: 3vw;
    width: 5vw;
    height: 5vh;
}
.audio{
    position: fixed;
}
button
{
    background-color: transparent;
    border: none;
}

.input7{
    margin-top: 1vh;
    text-align: center;
    background-color: aliceblue;
    width: 30vw;
    height: 4.5vh;
}
/*--------------------- Save Button----------------------------*/
.character__submit--buttom
{
    background-color: transparent;
    width: 16vw;
    height: 9vh;
    margin-right: 3vw;
}