/*--||General||----------------------------------------------------------------------------------------------*/
* {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked {
    opacity: 80%;
    border-color: rgb(219, 207, 207);
    border-width: 1vw;
    border-style: solid;
}

/*-----------------------------------------------------------------------------------------------------------*/

.container {
    display: grid;
    grid-template-rows: 8fr 1.5fr;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/backgroundDesign.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/*--||seccion alta||-----------------------------------------------------------------------------------------*/
.container__characterUp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*--||seccion left||-----------------------------------------------------------------------------------------*/
.container__left{
    background-color: rgb(255, 60, 0);
    opacity: 35%;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*--||seccion right||----------------------------------------------------------------------------------------*/
.container__right{
    background-color: rgb(0, 255, 34);
    opacity: 35%;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*--||seccion avatar||---------------------------------------------------------------------------------------*/
.avatar{
    width: 90%;
    margin-top: 14%;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------*/

/*--||seccion baja||-----------------------------------------------------------------------------------------*/
.container__characterDown {
    display: grid;
    grid-template-rows: 8fr 3fr;
}

.character__submit{
    text-align: center;

}

.character__submit--buttom{
    width: 6vw;
    height: 3vh;
}

.character__skin{
    text-align: center;
}

.skin{
    margin-top: 1vw ;
    width: 14vw;
    height: 6vh;
}

#skin1{
    background-color: #DFBC96;
}
#skin2{
    background-color: #C7935A;
}
#skin3{
    background-color: #735440;
}
#skin4{
    background-color: #59432C;
}

/*-----------------------------------------------------------------------------------------------------------*/
