.body_login--background{
    background-image: url('../images/backgroundLogin.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

#user{
    position: fixed;
    top:25.5%;
    left:45%;
    width:16%;
    rotate: 356deg;

}

#pass{
    position: fixed;
    top:32%;
    left:45%;
    width:16%;
    rotate: 356deg;
}

.body_login--button{
    position: fixed;
    top: 48.5%;
    left: 43%;
    width: 12%;
}

#body_login--buttonRotation{
    rotate: 356deg;
}

.form-control{
    background-color: transparent;
}

.sign
{
    position: fixed;
    top: 2%;
    left: 5%;
}
button
{
    background-color: transparent;
    border: none;
}

