.body_login--background{
    background-image: url('../images/panelAutentification.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

#user{
    position: fixed;
    top:37%;
    left:42%;
    width:33%;
}

#pass{
    position: fixed;
    top:50%;
    left:42%;
    width:33%;
}

.body_login--button{
    position: fixed;
    top: 67%;
    left: 42.5%;
    width: 12%;
}

#body_login--buttonRotation{
    rotate: 354deg;
}

.form-control{
    background-color: transparent;
}

.sign
{
    position: fixed;
    top: 2%;
    left: 5%;
}
button
{
    background-color: transparent;
    border: none;
}

