.body_login--background{
    background-image: url('../images/backgroundLogin.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

#user{
    position: fixed;
    top:25.5%;
    left:45%;
    width:16%;
    rotate: 356deg;

}

#pass{
    position: fixed;
    top:32%;
    left:45%;
    width:16%;
    rotate: 356deg;
}

.body_login--button{
    position: fixed;
    top: 46.5%;
    left: 42%;
    width: 15%;
    rotate: 357deg;
    display: inline-block;
    padding: 16px 24px;
    overflow: hidden;
    transition: 0.1s;
}
.body_login--button:hover
{
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    transition-delay: 0.1s;
}

.form-control{
    background-color: transparent;
}

.sign
{
    position: fixed;
    top: 2%;
    left: 5%;
}
button
{
    background-color: transparent;
    border: none;
}

