<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Iniciar sesión</title>
  <link th:href="@{css/style_initian.css}" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body_lobby--background">
 <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a th:href="@{/index/login}" >
          <img th:src="@{images/UserLoginLabel.png}" class="user_login--boton" >
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a th:href="@{register.html}" >
          <img th:src="@{images/adminLoginLabel.png}" class="admin_login--boton">
        </a>
      </div>
    </div>
  </div>
</body>
</html>